html {
    height: 100%;
    font-family: "Josefin Sans", "sans-serif", "黑体";
}

.title {
    display: block;
    position: fixed;
    bottom: -0.5em;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 1em;
    width: 23em;
    text-align: center;
    background-color: #00aeff3d;

}

.about {
    visibility: hidden;

    display: inline-block;
    position: fixed;
    bottom: 1em;
    left: 5em;
    margin: 1em 0;
    padding: 0 5em;
    background-image: url("img/StreetBackground.jpg");
}

.article {
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 1em;
    width: 60%;
    background-color: #ffffff33;
}

.article p {
    font-size: 1.3em;
    line-height: 1.5em;
    margin-left: 1em;
}

.article f {
    display: inline-block;
    font-size: 0.8em;
    color: coral;
}

.article c {
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 0.2em;
    margin: 0.1em 0 0.1em 0;
    padding: 0.1em;
    white-space: pre-wrap;
    word-break: break-all
}

.article cs {
    font-size: 0.5em;
    line-height: 1.2em;
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 0.2em;
    margin: 0.1em 0 0.1em 0;
    padding: 0.1em;
    white-space: pre-wrap;
    word-break: break-all
}

.article img {
    display: inline;
    width: 70%;
}
